<div class="content">
  <mat-card>
    <mat-card-title>Willkommen beim SDG-Checker!</mat-card-title>
  </mat-card>
  <mat-card>
    <mat-card-title>
      Beschreiben Sie Ihre Projektidee und nennen Sie die Projektziele<br />
      Schritt 1: Lassen Sie uns Ihre Projektziele mit den SDGs abgleichen
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field appearance="fill" style="display: unset">
          <mat-label> Projekttitel </mat-label>
          <input type="text" matInput formControlName="projectName" />
        </mat-form-field>

        <mat-form-field appearance="fill" style="display: unset">
          <mat-label>Projektbeschreibung</mat-label>
          <textarea
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="10"
            type="text"
            matInput
            formControlName="projectDescription">
          </textarea>
        </mat-form-field>

        <mat-card-actions>
          <div class="button">
            <button type="submit" (ngSubmit)="submit()" mat-stroked-button>
              Auf SDGs prüfen
            </button>
          </div>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="this.osdgQueryProgressing && !this.detectedSDGs.size">
    <mat-spinner></mat-spinner>
  </mat-card>
  <mat-card
    *ngIf="
      this.projectDescription &&
      !this.osdgQueryProgressing &&
      !this.detectedSDGs.size
    ">
    <mat-card-title>
      Leider konnten wir keine SDGs in deinem Vorhaben automatisiert erkennen.
    </mat-card-title>
    <mat-card-subtitle>
      Bitte wähle die SDGs aus, die zu deinem Projekt passen.
    </mat-card-subtitle>
  </mat-card>
  <mat-card *ngIf="this.detectedSDGs.size">
    <mat-card-title> Schritt 2: Identifizierte SDGs </mat-card-title>
    <mat-card-subtitle>
      Basierend auf Ihrer Projektbeschreibung hat unser Algorithmus
      wissenschaftliche Datenbanken durchsucht.<br />
      Unser SDG-Checker schlägt daher folgende SDGs für Ihre Projektziele
      vor.<br />
      Indem Sie die SDGs an- oder abwählen entscheiden Sie sich dafür, ob Sie
      als relevant für Ihr Projekt einschätzen.
    </mat-card-subtitle>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div *ngFor="let SDG of this.detectedSDGs" class="button">
        <div *ngIf="!this.detectedSDGSelection.has(SDG)">
          <button type="button" (click)="addDetectedSDG(SDG)" mat-button>
            <mat-card>
              <mat-card-title>SDG {{ SDG }}</mat-card-title>
              <mat-card-content>
                <img
                  src="/assets/SDGs/{{ SDG }}.png"
                  alt="SDG {{ SDG }} icon"
                  width="90px"
                  height="90px" />
              </mat-card-content>
            </mat-card>
          </button>
        </div>
        <div *ngIf="this.detectedSDGSelection.has(SDG)">
          <button type="button" (click)="deleteDetectedSDG(SDG)" mat-button>
            <mat-card>
              <mat-card-title style="color: green"
                >SDG {{ SDG }}</mat-card-title
              >
              <mat-card-content>
                <img
                  src="/assets/SDGs/{{ SDG }}.png"
                  alt="SDG {{ SDG }} icon"
                  width="90px"
                  height="90px" />
              </mat-card-content>
            </mat-card>
          </button>
        </div>
      </div>
    </div>
    <mat-card-actions>
      <div *ngIf="this.detectedSDGSelection.size">
        <button type="button" (click)="submitDetectedSDGs()" mat-stroked-button>
          Auswahl übernehmen
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card *ngIf="this.extrapolatedSDGGains.size">
    <mat-card-title> Schritt 3: SDG-Wirkungszusammenhänge </mat-card-title>
    <mat-card-subtitle>
      Rundum nachhaltig: SDGS können sich gegenseitig beeinflussen.<br />
      Folgende SDGs könnten daher in Beziehung zu den bereits bestätigten SDGs
      stehen.<br />
      Informieren Sie sich zu den verschiedenen Zielen und entscheiden Sie, ob
      diese tatsächlich relevant für Ihr Projekt sind, in dem Sie diese an- oder
      abwählen.
    </mat-card-subtitle>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div *ngFor="let SDG of this.extrapolatedSDGGains">
        <div *ngIf="!this.extrapolatedSDGGainsSelection.has(SDG)">
          <button
            type="button"
            (click)="addExtrapolatedSDGGain(SDG)"
            mat-button>
            <mat-card>
              <mat-card-title>SDG {{ SDG }}</mat-card-title>
              <mat-card-content>
                <img
                  src="/assets/SDGs/{{ SDG }}.png"
                  alt="SDG {{ SDG }} icon"
                  width="90px"
                  height="90px" />
              </mat-card-content>
            </mat-card>
          </button>
        </div>
        <div *ngIf="this.extrapolatedSDGGainsSelection.has(SDG)">
          <button
            type="button"
            (click)="deleteExtrapolatedSDGGain(SDG)"
            mat-button>
            <mat-card>
              <mat-card-title style="color: green"
                >SDG {{ SDG }}</mat-card-title
              >
              <mat-card-content>
                <img
                  src="/assets/SDGs/{{ SDG }}.png"
                  alt="SDG {{ SDG }} icon"
                  width="90px"
                  height="90px" />
              </mat-card-content>
            </mat-card>
          </button>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card
    *ngIf="
      this.extrapolatedSDGGainsSelection.size && this.detectedSDGSelection.size
    ">
    <mat-card-title
      >Check! Sie haben Ihr Projekt rundum nachhaltig konzipiert</mat-card-title
    >
    <mat-card>
      <mat-card-title> Ihre aktuelle Projektbeschreibung </mat-card-title>
      <mat-card-subtitle>
        {{ this.projectName }}
      </mat-card-subtitle>
      <mat-card-content>
        {{ this.projectDescription }}
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Diese SDGs sind Projektziele</mat-card-title>
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div *ngFor="let SDG of this.getSDGSelection()">
          <mat-card>
            <mat-card-title>SDG {{ SDG }}</mat-card-title>
            <mat-card-content>
              <img
                src="/assets/SDGs/{{ SDG }}.png"
                alt="SDG {{ SDG }} icon"
                width="90px"
                height="90px" />
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-card>
    <mat-card>
      <mat-card-title
        >Ihre rundum nachhaltigen Projektziele greifbarer machen - mit
        Indikatoren</mat-card-title
      >
      <mat-card-subtitle
        >Um die Qualität Ihrer Projektidee im Antragsprozess zu erhöhen, ist die
        Formulierung von SMART-en Indikatoren relevant.<br />
        Hier werden Beispiele für Indikatoren vorgeschlagen, die den Erfolg
        Ihrer Projektziele greifbar machen.
      </mat-card-subtitle>

      <div style="display: flex" *ngFor="let SDG of this.getSDGSelection()">
        <img
          src="/assets/SDGs/{{ SDG }}.png"
          alt="SDG {{ SDG }} icon"
          height="90px"
          width="90px" />
        <ul>
          <li
            *ngFor="
              let SDGtext of this.indicatorsService.getIndicatorsForSDG(SDG, 3)
            ">
            {{ SDGtext }}
          </li>
        </ul>
      </div>
    </mat-card>
  </mat-card>
</div>
